.layoutBasic {
    width: 100%;    
}

.formWrap {
    display: flex;    
    flex-direction: column;        
    gap: 20px;    
    border:1px solid #ccc;
    padding: 60px 20px;
    max-width: 900px;
    margin: 100px auto 0;
}

.formSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;    
}

.formHead {
    display: flex;
    gap:10px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;    
    border-right: 1px solid #ccc;
    padding-right:20px;
}

.formFoot {
    display: flex;
    justify-content: center;    
}
.listBtn {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }


.circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;
}
.avatar {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;
}