.layoutBasic {
    width: 100%;    
}

.pageTitle {
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}

.formWrap {
    display: flex;    
    flex-direction: column;        
    gap: 20px;    
    border:1px solid #ccc;
    padding: 60px 20px;
    max-width: 900px;
    margin: 100px auto 0;
}

.formWrap:has(.loginBox) {
    border:0;
}

.formSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;    
}
/* .formSection:has(.blogSection) {
    flex-direction: column;
}
.formSection:has(.blogSection) .formHead {    
    border:0;    
    padding-bottom: 10px;
    justify-content: center;
} */
.formHead {
    display: flex;
    gap:10px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;    
    border-right: 1px solid #ccc;
    padding-right:20px;
}

.formFoot {
    display: flex;
    justify-content: center;    
}


/* .blogSection {display: flex; flex-direction: column;} */

.loginBox {display: flex; justify-content: center;}
.loginBox form {display: flex; flex-direction: column;}
.loginBox form div {display:flex; flex-grow: 1; align-items: center;}
.loginBox form div:not(:first-child) {margin-top: 8px;}
.loginBox form div label {width:80px;}

.listBtn {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.blogCategory ul {display:flex; gap:10px; margin-bottom: 24px;}
.blogCategory ul li {height:45px; background-color: black; color: #fff; padding:10px; font-size: 16px; font-weight: 500;}


.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }


.circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;
}
.avatar {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;
}